@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');

*{
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

::selection {/*Used to change the color of a text selection*/
    background: #333;
    color: #FFF;
}

body {
	background: #1A1A1C;
	height: 100%;
	position: relative;
}

/*Hamburger menu*/
#hamburgerButton{
	display: block;
	width: 22px;
	height: 18px;
	background: none;
	outline: none;
	border: none;
	position: relative;
	cursor: pointer;
	float:right;
	margin:22px;
	z-index: 300;
}

#hamburgerButton>span{
	width:100%;
	height:3px;
	background: #CCC;
	display:block;
	position: absolute;
	top:0;
	transition: top 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#hamburgerButton>span:nth-child(1){
	top:0;
}

#hamburgerButton>span:nth-child(2){
	top:100%;
}

#hamburgerButton>span:nth-child(3){
	top:50%;
}

#hamburgerButton.clicked>span{
	/*background: #db6e60;*/
}

#hamburgerButton.clicked>span:nth-child(1){
	transform: rotate(-135deg);
	top:50%;
}

#hamburgerButton.clicked>span:nth-child(2){
	top:50%;
	transform: rotate(135deg);
}

#hamburgerButton.clicked>span:nth-child(3){
	transform: rotate(-135deg);
	top:50%;
}

nav>div>ul{
	height:100vh;
	padding-top: 66px;
	left:100%;
	background: #1A1A1C;
	width: 75%;
	transition:left 0.4s ease-in-out, opacity 0.2s ease-in-out;
	position: absolute;
	z-index: 200;
	opacity: 0;
}

nav>div>ul.clicked{
	opacity: 100;
	left: 25%;
}

nav>div>ul::after{
	content:'';
	top:0;
	right:-100%;
	background: rgba(0,0,0,0.6);
	height:100vh;
	width:200%;
	position: absolute;
}

nav>div>ul.clicked::after{
	right:100%;
}
/*hamburger menu end*/

nav{
	width: 100%;
	position: fixed;
	z-index: 10;
	top:0;
	background: #1A1A1C;
	-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
}

nav>div>ul>li{
	list-style: none;
}

nav>div>ul>li>a{
		text-decoration: none;
		padding:22px 22px;
		line-height: 22px;
		display:block;
		font-size: 22px;
		font-weight: 600;
		color:#DDD;
		text-align: left;
}

nav>div>ul>li>a:hover{
	background:rgba(0, 0, 0, 0.2);
	color:#FFF;
}

nav>div>ul>li>.active{
	color:#46B4E0;
}

nav>div>ul>li>.active:hover{
	background:rgba(0, 0, 0, 0.2);
	color:#46B4E0;
}

nav>.navWrapper{
	max-width: 960px;
	margin:auto;
}

#searchBar{
	padding:11px 22px 22px 22px;
}

#searchBar>input{
	/*border:solid 1px #5A5A5C;*/
	border: none;
	border-radius: 5px;
	padding:6px 11px;
	background:#3A3A3C;
	font-size: 12px;
	line-height: 18px;
	width:100%;
	color:#FFF;
	outline:none;
	margin-top:18px;
	margin-right:88px;
	box-sizing: border-box;
}

#searchBar>input:focus{
	background: #404042;
}

.home{
	/*padding:11px 22px 6px 22px;*/
	height:66px;
	width:88px;
	display: block;
	float:left;
	margin-left: 22px;
}

.home>svg{
	height:100%;
	width:100%;
}



/* LOGIN IN POP UP */
.logincontainer {
	max-width: 300px;
	height: 270px;
	background:#FFF;
	/*background: #b0b7ba;*/
	border-radius: 3px;
	margin: auto;
	padding: 22px 0;
	margin-top: 100px;
	position: relative;
}

.close-button{
	background:none;
	border:none;
	outline:0;
	cursor:pointer;
	position: absolute;
	top:0;
	right:0;
	margin:11px;
}

.close-button>i{
	font-size: 24px;
	color:#AA0000;
	transition: 0.2s ease-in-out color;
}

.close-button:hover>i{
	color:#FF0000;
}

#signupWrapper>.logincontainer {
	height: 380px;
}

.logincontainer>.textWithLink{
	padding-top: 11px;
	font-size: 14px;
	color: white;
	text-align: center;
}

.logincontainer p, .logincontainer h3 {
	color: black;
	text-shadow: none;
	color: black;
}

.logincontainer>h3{
	font-weight: 800;
	font-size: 32px;
	color:#1A1A1C;
}

.logincontainer form {
	display: block;
	margin: 20px 40px;
}

.logincontainer form p {
	font-size: 12px;
	padding-top: 20px;
	color:#000;
	font-weight: 600;
}

.logincontainer>form>input[type=text],.logincontainer>form>input[type=password] {
	border: none;
	border-bottom: 1px solid #9895A1;
	background-color: transparent;
	padding:10px;
	width: 220px;
	box-sizing: border-box;
}

.logincontainer>form>input[type=submit]{
	width: 220px;
	margin-top: 40px;
	border: none;
	background:#89DA59;
	padding: 8px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	border-radius: 5px;
}

#signupWrapper>.logincontainer>form>input[type=submit] {
	margin-top: 20px;
}

.logincontainer>form>select{
	width: 100%;
	margin-top: 20px;
	border-radius: 5px;
}

.logincontainer>form>p.message{
	padding-top: 0;
	font-size: 10px;
}

.logincontainer>form>#newmember {
	background: #46B4E0;
}

.logincontainer>form>input[type=submit]:hover{
-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
cursor:pointer;
}

.logincontainer>form>input[type=text],.logincontainer>form>input[type=password],input[type=submit]{
	outline: none;
}

.logincontainer{
	-webkit-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.6);
}

#loginWrapper,#signupWrapper{
	display: none;
	position: fixed;
	z-index: 200;
	width: 100%;
	height:100%;
	background:rgba(0, 0, 0, 0.75);
	top: 0;
}
/* LOGIN IN POP UP -END */

main{
	margin-top: 44px;
}



/*Would you rather cards*/
.card-container{
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card-container>li,.card-container>div{
	list-style: none;
	width:100%;
	box-sizing: border-box;
}

.card-container>div>input[type=submit],.card-container>div>div, .card{
	width:100%;
	height:150px;
	border:none;
	outline:none;
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 400;
	transition: 0.2s font-size ease-in-out, 0.2s box-shadow ease-in-out;
	position: relative;
	padding: 22px;
	box-sizing: border-box;
	white-space: normal;
	cursor: pointer;
}

.card-container>div>div{
	text-align: center;
}

.card-container>div>div>h3{
	text-align: center;
	font-weight: 600;
	font-size: 42px;
}

.card-container>div>div>h5{
	font-weight: 600;
	font-size: 14px
}

.card-container>div>div>p{
	font-weight: 300;
	font-size: 14px;
	color:rgba(255,255,255,0.8);
}

.card {
	height: 250px;
}

.card-container>div:first-child>input[type=submit], .card-container>li:first-child>.card,.card-container>div:first-child>div{
	background: #7BB296;
}

.card-container>div:last-child>input[type=submit], .card-container>li:last-child>.card, .card-container>div:last-child>div{
	background: #FF5B44;
}


.card-container>div>input[type=submit]:hover,.card-container>div>div:hover{
	font-size: 23px;
}

.card-container>div:first-child>input[type=submit]:active, .card-container>li:first-child>.card:active,.card-container>div:first-child>div:active{
	background: #5B9276;
}

.card-container>div:last-child>input[type=submit]:active, .card-container>li:last-child>.card:active, .card-container>div:last-child>div:active{
	background: #CF3B24;
}
/*Would you rather cards -END*/


#nextPrevButtons{
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.38);
}

#nextPrevButtons>li{
	float:left;
	width: 50%;
	list-style: none;
}

#nextPrevButtons>li>a{
	display: block;
	text-decoration: none;
	text-align: center;
	width: 100%;
	padding:22px 11px;
	color:#DDD;
	font-weight: 400;
	font-size: 14px;
	border:1px solid #4A4A4C;
	box-sizing: border-box;
	background: #3A3A3C;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	transition: background 0.2s ease-in-out;
}

#nextPrevButtons>li>a:hover{
	background: #1A1A1C;
	color:#FFF;
}

#nextPrevButtons>li>a:active{
	background: #0A0A0C;
	color:#FFF;
}

.container{
	background: #FFF;
}

.container>div{
	max-width: 960px;
	margin: auto;
	padding:22px 5px 0 5px;
}

/*Like-button*/
.upvote-container{
	float:right;
}

.upvote-container>li{
	float:left;
	list-style: none;
}

.upvote-container>li>p{
	color:#AAA;
	font-weight: 400;
}

.upvote-container>li>p{
	padding:0 11px;
	line-height: 22px;
}

.like-button{
	background: none;
	border:none;
	cursor: pointer;
	outline: none;
	position: relative;
}

.like-button:hover>i{
	color:#3A3A3C;
}

.like-button>i{
	font-size: 22px;
	color:#AAA;
}

.like-button::after{
	content:'';
	display: none;
	border:solid 6px transparent;
	border-bottom-color:  rgba(0,0,0,0.5);
	width: 0;
	height:0;
	position: absolute;
	margin-top: -2px;
}

.like-button::before{
	content:"";
	display: none;
	padding:8px 5px;
	border-radius: 3px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	color:#FFF;
	font-size: 11px;
	z-index: 50;
	margin-top: 32px;
	left:50%;
	margin-left:-22px;
}

.upvote-container>li:first-child>.like-button::before{
	content:"downvote";
	margin-left: -32px;
}

.upvote-container>li:last-child>.like-button::before{
	content:"upvote";
}

.upvote-container>li>.like-button:hover::before,.upvote-container>li>.like-button:hover::after{
	display: block;
}


.textWithLink{
	font-size: 14px;
	margin-bottom:44px;
	padding-bottom: 11px;
	color:#2A2A2C;
	border-bottom: solid 1px #CCC;
}

.textWithLink>a{
	text-decoration: none;
	color:#5B9276;
}

.textWithLink>a.cardLinkTitle{
	font-size: 22px;
	font-weight: 600;
}

.textWithLink>a:hover{
	text-decoration: none;
	color:#2694C0;
}


@media(min-width:420px){
	#topListContainer{
		padding:0 22px;
		box-sizing: border-box;
	}

	#topList{
		width: 100%;
		margin: 22px 0;
	}

	.card-container>li,.card-container>div{
		float:left;
		width:50%;
	}

	.card-container>div>input[type=submit],.card-container>div>div{
		height:300px;
	}

	nav>div>ul>li>a{
			text-align: center;
	}

	#searchBarLarge>input[type=text]{
		width:340px;
	}

	.card-container>div>div>h3{
		font-size: 62px;
		margin-top: 22px;
	}

	.card-container>div>div>h5{
		margin-top: 11px;
		font-size: 18px
	}

	.card-container>div>div>p{
		font-size: 18px;
	}

}

@media(min-width:835px){

	#searchBarLarge>input[type=text]{
		width:420px;
	}

	#hamburgerButton{
		display:none;
	}

	nav{
		padding-left:22px;
		padding-right: 22px;
		box-sizing: border-box;
	}

	nav>div>ul{
		width:auto;
		height:auto;
		padding-top: 0;
		position: relative;
		opacity: 100;
		left:0;
		width:auto;
		background: none;
		transition: none;
	}

	nav>div>ul>li{
		float:right;
	}

	nav>div>ul.clicked{
		opacity: 100;
		left:0;
	}

	nav>div>ul::after{
			content:none;
			top:0;
			left:0;
			background: none;
			height:0;
			width:0;
			position: absolute;
	}

	nav>div>ul>li>a{
			padding:22px 11px;
			line-height: 22px;
			font-size: 12px;
			font-weight: 600;
	}

	#searchBar>input{
		width:250px;
	}

	#searchBar{
		padding:0;
	}

	#searchBar>input{
		margin-right: 22px;
	}

	.home{
		margin-left: 0;
	}

}
