@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');


*{
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

body {
	background: #2A2A2C;
	height: 100%;
	position: relative;
}

/*Hamburger menu*/
#hamburgerButton{
	display: block;
	width: 44px;
	height: 32px;
	background: none;
	outline: none;
	border: none;
	position: relative;
	cursor: pointer;
	float:right;
	margin:22px;
}

#hamburgerButton>span{
	width:100%;
	height:3px;
	background: #CCC;
	display:block;
	position: absolute;
	top:0;
	transition: top 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#hamburgerButton>span:nth-child(1){
	top:0;
}


#hamburgerButton>span:nth-child(2){
	top:100%;
}

#hamburgerButton>span:nth-child(3){
	top:50%;
}

#hamburgerButton.clicked>span:nth-child(1){
	transform: rotate(-135deg);
	top:50%;
}


#hamburgerButton.clicked>span:nth-child(2){
	top:50%;
	transform: rotate(135deg);
}

#hamburgerButton.clicked>span:nth-child(3){
	transform: rotate(-135deg);
	top:50%;
}

nav>div>ul{
	height:0;
	overflow: hidden;
	width: 100%;
	transition:height 0.4s ease-in-out;
}

nav>div>ul.clicked{
	height: 420px;
}


/*hamburger menu end*/


nav{
	width: 100%;
	position: fixed;
	z-index: 10;
	top:0;
	background: #1A1A1C;
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.75);
}

nav>div>ul{
	overflow: hidden;
	width: 100%;
}

nav>div>ul>li{
	list-style: none;
}

nav>div>ul>li>a{
		text-decoration: none;
		padding:22px 11px;
		line-height: 22px;
		display:block;
		font-size: 12px;
		font-weight: 600;
		color:#DDD;
		text-align: center;
}

nav>div>ul>li>a:hover{
	background:rgba(0, 0, 0, 0.2);
	color:#FFF;
}

nav>.navWrapper{
	max-width: 960px;
	margin:auto;
}

#searchBar{
	padding:11px 22px 22px 22px;
}

#searchBar>input{
	/*border:solid 1px #5A5A5C;*/
	border: none;
	border-radius: 5px;
	padding:6px 11px;
	background:#3A3A3C;
	font-size: 12px;
	line-height: 18px;
	width:100%;
	color:#FFF;
	outline:none;
	margin-top:18px;
	margin-right:88px;
	box-sizing: border-box;
}

#searchBar>input:focus{
	background: #404042;
}

body p, h1, h3 {
	color: white;
}

h3{
	text-align: center;
	text-shadow: 2px 2px #000000;
	font-weight: 400;
}

main{
	max-width: 960px;
	margin:110px auto 88px auto;
}

main>h1{
	text-align: center;
}

.home{
	/*padding:11px 22px 6px 22px;*/
	height:66px;
	width:88px;
	display: block;
	float:left;
	margin-left: 22px;
}

.home>svg{
	height:100%;
	width:100%;
}


/*Would you rather cards*/
.card-container{
	margin:22px auto 11px auto;
	overflow: hidden;
	position: relative;
}

.card-container>li{
	list-style: none;
	width:100%;
	box-sizing: border-box;
	padding:5px;
}

.card-container>li>button{
	width:100%;
	height:250px;
	border:none;
	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
  -moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
  box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	outline:none;
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	transition: 0.2s font-size ease-in-out;
}


.card-container>li:first-child>button{
	background:#89DA59;
}

.card-container>li:last-child>button{
	background:#46B4E0;
}

.card-container::before{
  text-align: center;
  color:#FFF;
  font-size: 18px;
  content:"or";
  position: absolute;
  z-index: 5;
  bottom:50%;
  margin-bottom: -27.5px;
  display: inline-block;
  border-radius: 35px;
  right:50%;
  margin-right: -27.5px;
  width:55px;
  height:55px;
  line-height: 55px;
  background: #222222;
  box-shadow: 0 0 0pt 4pt rgba(0,0,0,0.3);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  border: solid #000 1px;
  cursor:default;
}

.card-container>li>button:hover{
  -webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
  -moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
  box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
  cursor:pointer;
	font-size: 26px;
}

/*Would you rather cards -END*/

/*Like-button*/
.upvote-container{
	padding-left: 5px;
}

.upvote-container>li{
	float:left;
	list-style: none;
}

.upvote-container>li>p{
	color:#CCC;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.upvote-container>li>p{
	padding:0 11px;
	line-height: 22px;
}

.like-button{
	background: none;
	border:none;
	cursor: pointer;
	outline: none;
	position: relative;
}

.like-button:hover>i{
	color:#FFF;
}

.like-button>i{
	font-size: 22px;
	color:#CCC;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.like-button::after{
	content:'';
	display: none;
	border:solid 6px transparent;
	border-bottom-color:  rgba(0,0,0,0.5);
	width: 0;
	height:0;
	position: absolute;
	margin-top: -2px;
}

.like-button::before{
	content:"";
	display: none;
	padding:8px 5px;
	border-radius: 3px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	color:#FFF;
	font-size: 11px;
	z-index: 50;
	margin-top: 32px;
	left:50%;
	margin-left:-22px;
}


.upvote-container>li:first-child>.like-button::before{
	content:"downvote";
	margin-left: -32px;
}

.upvote-container>li:last-child>.like-button::before{
	content:"upvote";
}

.upvote-container>li>.like-button:hover::before,.upvote-container>li>.like-button:hover::after{
	display: block;
}

/*Like-button end*/

#nextPrevButtons{
	overflow: hidden;
	padding: 0 5px;
	box-sizing: border-box;
	position: relative;
}

#nextPrevButtons>li{
	float:left;
	width: 50%;
	list-style: none;
}

#nextPrevButtons>li>button{
	width: 100%;
	padding:11px;
	color:#DDD;
	font-weight: 400;
	font-size: 14px;
	outline: none;
	border:1px solid #4A4A4C;
	background: #3A3A3C;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	transition: background 0.2s ease-in-out;
}

#nextPrevButtons>li>button:hover{
	cursor:pointer;
	background: #1A1A1C;
	color:#FFF;
}

#nextPrevButtons>li>button:active{
	background: #0A0A0C;
	color:#FFF;
}

.textWithLink{
	font-size: 12px;
	text-align: right;
	margin-bottom:44px;
	color:#AAA;
}

.textWithLink>a{
	text-decoration: none;
	color:#46B4E0;
	text-shadow: 2px 2px #000000;
	margin-right: 5px;
}

.textWithLink>a:hover{
	text-decoration: none;
	color:#2694C0;
}

#commentContainer{
	background:#FFF;
	border-radius: 5px;
	padding:0 0 22px 0;
	margin:0 5px;
	-webkit-box-shadow: 0px 10px 44px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 44px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 44px 0px rgba(0,0,0,0.75);
}

#commentContainer>li{
	list-style: none;
}

#commentContainer>li:first-child>h4{
	margin-left: 44px;
	font-weight: 600;
	color:#6c6c6c;
	font-size: 14px;
}

#commentContainer>li:first-child{
	border-bottom: 1px #CCC solid;
	background: rgba(227,227,227,1);
background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 47%, rgba(242,242,242,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,227,227,1)), color-stop(47%, rgba(255,255,255,1)), color-stop(100%, rgba(242,242,242,1)));
background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 47%, rgba(242,242,242,1) 100%);
background: -o-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 47%, rgba(242,242,242,1) 100%);
background: -ms-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 47%, rgba(242,242,242,1) 100%);
background: linear-gradient(to bottom, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 47%, rgba(242,242,242,1) 100%);	padding: 11px 0;
}

#commentContainer>.commentField>a{
	text-decoration: none;
	font-weight: 600;
	color:#1c1c1c;
}

#commentContainer>.commentField{
	padding:22px 44px;
	border-bottom: 1px solid #CCC;
	list-style: none;
}

#commentContainer>.commentField:last-child{
	border-bottom: none;
}

#commentContainer>.commentField>p{
	color:#000;
	font-size: 12px;
}

.comment{
	max-width: 420px;
}

.comment>form>textarea{
	width:100%;
	padding:11px;
}

.comment>form>textarea{
	resize: none;
}

.comment>form>input[type="submit"]{
	margin-top: 11px;
	padding:11px;
	background:#2694C0;
	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	border: none;
	color:#FFF;
}

.comment>form>input[type="submit"]:hover{
	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
	-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
	box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
	cursor:pointer;
}


/* LOGIN IN POP UP */

.logincontainer {
	max-width: 300px;
	height: 270px;
	background:#FFF;
	/*background: #b0b7ba;*/
	border-radius: 3px;
	margin: auto;
	padding: 22px 0;
	margin-top: 100px;
	position: relative;
}

.close-button{
	background:none;
	border:none;
	outline:0;
	cursor:pointer;
	position: absolute;
	top:0;
	right:0;
	margin:11px;
}

.close-button>i{
	font-size: 24px;
	color:#AA0000;
	transition: 0.2s ease-in-out color;
}

.close-button:hover>i{
	color:#FF0000;
}

#signupWrapper>.logincontainer {
	height: 340px;
}

.logincontainer>.textWithLink{
	padding-top: 11px;
	font-size: 14px;
	color: white;
	text-align: center;
}

.logincontainer p, .logincontainer h3 {
	color: black;
	text-shadow: none;
	color: black;
}

.logincontainer>h3{
	font-weight: 800;
	font-size: 32px;
	color:#1A1A1C;
}

.logincontainer form {
	display: block;
	margin: 20px 40px;
}

.logincontainer form p {
	font-size: 8px;
	padding-top: 20px;
}

.logincontainer>form>input[type=text],.logincontainer>form>input[type=password] {
	border: none;
	border-bottom: 1px solid #9895A1;
	background-color: transparent;
	padding:10px;
	width: 220px;
	box-sizing: border-box;
}

.logincontainer>form>input[type=submit]{
	width: 220px;
	margin-top: 40px;
	border: none;
	background:#89DA59;
	padding: 8px;
	border-radius: 10px;
	/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.09);*/

	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	border-radius: 5px;
}

.logincontainer>form>#newmember {
	background: #46B4E0;
}

.logincontainer>form>input[type=submit]:hover{
-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
cursor:pointer;
}

.logincontainer>form>input[type=text],.logincontainer>form>input[type=password],input[type=submit]{
	outline: none;
}

.logincontainer{
	-webkit-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.6);
}

#loginWrapper,#signupWrapper{
	display: none;
	position: fixed;
	z-index: 200;
	width: 100%;
	height:100%;
	background:rgba(0, 0, 0, 0.75);
	top: 0;
}

/* LOGIN IN POP UP -END */




/*Profile page*/
main#userProfile>h1{
	text-align: center;
	color:#FFF;
	font-size: 42px;
	font-weight: 600;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	margin:88px 0 44px 0;
}

#userProfile>ul{
	list-style: none;
}

/*Profile page-END*/

/*Search page*/
#searchPage{
	max-width: none;
}

#searchPage>ul{
	max-width: 960px;
	 margin: 66px auto 0 auto;
	 list-style: none;
}

#searchPage>ul>li{
	margin-bottom:44px;
}

#searchMenu{
	border-bottom: 1px solid #46B4E0;
}

#searchMenu>.searchMenuWrapper{
	max-width: 960px;
	margin: auto;
}

#searchMenu>.searchMenuWrapper>p{
	color:#FFF;
	padding:11px 22px;
}

.searchMenuWrapper>p,.searchMenuWrapper>button{
	float:left;
	font-size: 14px;
}
.searchMenuWrapper{
	overflow: hidden;
}

#searchMenu>.searchMenuWrapper>button{
	padding:11px 22px;
	background: none;
	border: none;
	outline: none;
	color:#FFF;
	cursor: pointer;
}

#searchMenu>.searchMenuWrapper>button:hover{
	color:#46B4E0;
}

#searchMenu>.searchMenuWrapper>button:first-child{
	border-bottom: 4px solid #46B4E0;
}



/*Search page end*/

/*FOOTER*/

footer {
	text-align: center;
	padding:66px 0;
	margin: 20px  0 0 0;
	width: 100%;
	background: #000;
}

footer>p>a {
	text-decoration: none;
	color: white;
}

footer>#copyright{
	margin-top: 44px;
	text-align: right;
	padding-right:66px;
	color:#A1A1A3;
	font-size: 12px;
}
/* FOOTER -END */

@media(min-width:420px){
	#hamburgerButton{
		display:none;
	}

	nav>div>ul{
		padding-right: 22px;
		width:auto;
		height:auto;
	}

	nav>div>ul>li{
		float:right;
	}

	#searchBar>input{
		width:250px;
	}


	#searchBar{
		padding:0;
	}

	.card-container>li{
		float:left;
		width:50%;
	}

	.home{
		margin-left: 0;
	}
}
