@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800');

*{
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

::selection {/*Used to change the color of a text selection*/
    background: #333;
    color: #FFF;
}


body {
	background: #1A1A1C;
	height: 100%;
	position: relative;
}

body.light{
	background: #7F7F7F;
}

/*Hamburger menu*/
#hamburgerButton{
	display: block;
	width: 22px;
	height: 18px;
	background: none;
	outline: none;
	border: none;
	position: relative;
	cursor: pointer;
	float:right;
	margin:22px;
	z-index: 300;
}

#hamburgerButton>span{
	width:100%;
	height:3px;
	background: #CCC;
	display:block;
	position: absolute;
	top:0;
	transition: top 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#hamburgerButton>span:nth-child(1){
	top:0;
}

#hamburgerButton>span:nth-child(2){
	top:100%;
}

#hamburgerButton>span:nth-child(3){
	top:50%;
}

#hamburgerButton.clicked>span{
	/*background: #db6e60;*/
}

#hamburgerButton.clicked>span:nth-child(1){
	transform: rotate(-135deg);
	top:50%;
}

#hamburgerButton.clicked>span:nth-child(2){
	top:50%;
	transform: rotate(135deg);
}

#hamburgerButton.clicked>span:nth-child(3){
	transform: rotate(-135deg);
	top:50%;
}

nav>div>ul{
	height:100vh;
	padding-top: 66px;
	left:100%;
	background: #1A1A1C;
	width: 75%;
	transition:left 0.4s ease-in-out, opacity 0.2s ease-in-out;
	position: absolute;
	z-index: 200;
	opacity: 0;
}

nav>div>ul.clicked{
	opacity: 100;
	left: 25%;
}

nav>div>ul::after{
	content:'';
	top:0;
	right:-100%;
	background: rgba(0,0,0,0.6);
	height:100vh;
	width:200%;
	position: absolute;
}

nav>div>ul.clicked::after{
	right:100%;
}
/*hamburger menu end*/

nav{
	width: 100%;
	position: fixed;
	z-index: 10;
	top:0;
	background: #1A1A1C;
	-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
}

nav>div>ul>li{
	list-style: none;
}

nav>div>ul>li>a,#toggleBtn>input{
		text-decoration: none;
		padding:22px 22px;
		line-height: 22px;
		display:block;
		font-size: 22px;
		font-weight: 600;
		color:#DDD;
		text-align: left;
}

#toggleBtn>input{
	background: none;
	outline: none;
	border: none;
	width: 100%;
	cursor: pointer;
}

nav>div>ul>li>a:hover,#toggleBtn>input:hover{
	background:rgba(0, 0, 0, 0.2);
	color:#FFF;
}

nav>div>ul>li>.active{
	color:#9BD2B6;
}

nav>div>ul>li>.active:hover{
	background:rgba(0, 0, 0, 0.2);
	color:#9BD2B6;
}

nav>.navWrapper{
	max-width: 960px;
	margin:auto;
}

nav.light{
	background: #7F7F7F;
}

#searchBar{
	padding:11px 22px 22px 22px;
}

#searchBar>input{
	/*border:solid 1px #5A5A5C;*/
	border: none;
	border-radius: 5px;
	padding:6px 11px;
	background:#3A3A3C;
	font-size: 12px;
	line-height: 18px;
	width:100%;
	color:#FFF;
	outline:none;
	margin-top:18px;
	margin-right:88px;
	box-sizing: border-box;
}

#searchBar>input:focus{
	background: #404042;
}

.home{
	/*padding:11px 22px 6px 22px;*/
	height:66px;
	width:88px;
	display: block;
	float:left;
	margin-left: 22px;
}

.home>svg{
	height:100%;
	width:100%;
}



/* LOGIN IN POP UP */
.logincontainer {
	max-width: 300px;
	height: 270px;
	background:#FFF;
	margin: auto;
	padding: 22px 0;
	margin-top: 100px;
	position: relative;
	-webkit-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
}

.close-button{
	background:none;
	border:none;
	outline:0;
	cursor:pointer;
	position: absolute;
	top:0;
	right:0;
	margin:11px;
}

.close-button>i{
	font-size: 24px;
	color:#AA0000;
	transition: 0.2s ease-in-out color;
}

.close-button:hover>i{
	color:#FF0000;
}

#signupWrapper>.logincontainer {
	height: 380px;
}

.logincontainer>.textWithLink{
	padding-top: 11px;
	font-size: 14px;
	color: white;
	text-align: center;
	border:none;
}

.logincontainer>.textWithLink>a{
	color:#FF5B44;
}

.logincontainer>.textWithLink>a:hover{
	color:#DF3B24;
}

.logincontainer p, .logincontainer h3 {
	color: black;
	text-shadow: none;
	color: black;
}

.logincontainer h3 {
	padding-left: 44px;
}

.logincontainer>h3{
	font-weight: 800;
	font-size: 32px;
	color:#1A1A1C;
}

.logincontainer form {
	display: block;
	margin: 20px 40px;
}

.logincontainer form p {
	font-size: 12px;
	padding-top: 20px;
	color:#000;
	font-weight: 600;
}

.logincontainer>form>input[type=text],.logincontainer>form>input[type=password] {
	border: none;
	border-bottom: 1px solid #9895A1;
	background-color: transparent;
	padding:10px;
	width: 220px;
	box-sizing: border-box;
}

.logincontainer>form>input[type=submit]{
	width: 220px;
	margin-top: 40px;
	border: none;
	background:#7BB296;
	padding: 8px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	border-radius: 5px;
}

#signupWrapper>.logincontainer>form>input[type=submit] {
	margin-top: 20px;
}

.logincontainer>form>select{
	width: 100%;
	margin-top: 20px;
	border-radius: 5px;
}

.logincontainer>form>p.message{
	padding-top: 0;
	font-size: 10px;
}

.logincontainer>form>#newmember {
	background: #7BB296;
}

.logincontainer>form>input[type=submit]:hover{
-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.16);
cursor:pointer;
}

.logincontainer>form>input[type=text],.logincontainer>form>input[type=password],input[type=submit]{
	outline: none;
}


#loginWrapper,#signupWrapper{
	display: none;
	position: fixed;
	z-index: 200;
	width: 100%;
	height:100%;
	background:rgba(0, 0, 0, 0.4);
	top: 0;
}
/* LOGIN IN POP UP -END */

main{
	margin-top: 66px;
}



/*Would you rather cards*/
.card-container{
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-width: 1280px;
	margin: auto;
}

.card-container>li,.card-container>div{
	list-style: none;
	width:100%;
	box-sizing: border-box;
}

.card-container>div>input[type=submit],.card-container>div>div, .card{
	width:100%;
	height:150px;
	border:none;
	outline:none;
	color:#FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 400;
	transition: 0.2s font-size ease-in-out, 0.2s box-shadow ease-in-out;
	position: relative;
	padding: 22px;
	box-sizing: border-box;
	white-space: normal;
	cursor: pointer;
}

.card{
	resize: none;
}

.card-container>div>div{
	text-align: center;
}

.card-container>div>div>h3{
	text-align: center;
	font-weight: 600;
	font-size: 42px;
}

.card-container>div>div>h5{
	font-weight: 600;
	font-size: 14px
}

.card-container>div>div>p{
	font-weight: 300;
	font-size: 14px;
	color:rgba(255,255,255,0.8);
}

.card {
	height: 250px;
}

.card-container>div:first-child>input[type=submit], .card-container>div:first-child>textarea, .card-container>div:first-child>div{
	background: #7BB296;
}

.card-container>div:last-child>input[type=submit], .card-container>div:last-child>textarea, .card-container>div:last-child>div{
	background: #FF5B44;
}


.card-container>div>input[type=submit]:hover,.card-container>div>div:hover{
	font-size: 23px;
}

.card-container>div:first-child>input[type=submit]:active, .card-container>div:first-child>div:active{
	background: #5B9276;
}

.card-container>div:last-child>input[type=submit]:active, .card-container>div:last-child>div:active{
	background: #CF3B24;
}
/*Would you rather cards -END*/

#nextPrevButtonsContainer{
	background: #3A3A3C;
	-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.38);
}

#nextPrevButtonsContainer.light{
	background: #C2C2C2;
}

#nextPrevButtonsContainer>ul{
	max-width: 1280px;
	margin: auto;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}

#nextPrevButtonsContainer>ul>li{
	float:left;
	width: 50%;
	list-style: none;
}

#nextPrevButtonsContainer>ul>li>a{
	display: block;
	text-decoration: none;
	text-align: center;
	width: 100%;
	padding:22px 11px;
	color:#DDD;
	font-weight: 400;
	font-size: 14px;
	box-sizing: border-box;
	background: #3A3A3C;
	text-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	transition: background 0.2s ease-in-out;
}


#nextPrevButtonsContainer.light>ul>li>a{
	background: #C2C2C2;
	color:#1A1A1C;
}

#nextPrevButtonsContainer>ul>li:first-child>a{
	border-right:1px solid #4A4A4C;
}

#nextPrevButtonsContainer.light>ul>li:first-child>a{
	border-right:1px solid #7F7F7F;
}

#nextPrevButtonsContainer>ul>li:first-last>a{
	border-left:1px solid #4A4A4C;
}

#nextPrevButtonsContainer>ul>li>a:hover{
	background: #1A1A1C;
	color:#FFF;
}


#nextPrevButtonsContainer.light>ul>li>a:hover{
	background: #7F7F7F;
	color:#1A1A1C;
}

#nextPrevButtonsContainer>ul>li>a:active{
	background: #0A0A0C;
	color:#FFF;
}


#nextPrevButtonsContainer.light>ul>li>a:active{
	background: #7F7F7F;
	color:#1A1A1C;
}
.container{
	background: #FFF;
	-webkit-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.38);
}

.container>div{
	max-width: 960px;
	margin: auto;
	padding:22px 5px 0 5px;
}

/*Like-button*/
.upvote-container{
	float:right;
}

.upvote-container>li{
	float:left;
	list-style: none;
}

.upvote-container>li>p{
	color:#AAA;
	font-weight: 400;
}

.upvote-container>li>p{
	padding:0 11px;
	line-height: 22px;
}

.like-button{
	background: none;
	border:none;
	cursor: pointer;
	outline: none;
	position: relative;
}

.like-button:hover>i{
	color:#3A3A3C;
}

.like-button>i{
	font-size: 22px;
	color:#AAA;
}

.like-button::after{
	content:'';
	display: none;
	border:solid 6px transparent;
	border-bottom-color:  rgba(0,0,0,0.5);
	width: 0;
	height:0;
	position: absolute;
	margin-top: -2px;
}

.like-button::before{
	content:"";
	display: none;
	padding:8px 5px;
	border-radius: 3px;
	position: absolute;
	background: rgba(0,0,0,0.5);
	color:#FFF;
	font-size: 11px;
	z-index: 50;
	margin-top: 32px;
	left:50%;
	margin-left:-22px;
}

.upvote-container>li:first-child>.like-button::before{
	content:"downvote";
	margin-left: -32px;
}

.upvote-container>li:last-child>.like-button::before{
	content:"upvote";
}

.upvote-container>li>.like-button:hover::before,.upvote-container>li>.like-button:hover::after{
	display: block;
}


.textWithLink{
	font-size: 14px;
	margin-bottom:11px;
	padding-bottom: 11px;
	color:#2A2A2C;
	border-bottom: solid 1px #CCC;
}

.textWithLink>a{
	text-decoration: none;
	color:#5B9276;
}

.textWithLink>a.cardLinkTitle{
	font-size: 22px;
	font-weight: 600;
}

.textWithLink>a:hover{
	text-decoration: none;
	color:#3B7256;
}



#commentContainer>li{
	list-style: none;
}

#commentContainer>li:first-child>h4{
	font-weight: 400;
	color:#000;
	font-size: 16px;
	padding-bottom: 22px;
}

#commentContainer>.commentField>a{
	text-decoration: none;
	font-weight: 600;
	color: #CF3B24;
}

#commentContainer>.commentField{
	padding:11px 0 11px 22px;
	list-style: none;
}

#commentContainer>.commentField:last-child{
	border-bottom: none;
}

#commentContainer>.commentField>p{
	color:#000;
	font-size: 12px;
}

#commentContainer>.commentField>p.commentText{
	padding-top: 5px;
	font-size: 14px;
}


#commentContainer>.comment{
	padding:44px 0 11px 0;
	max-width: 420px;
}

.comment>form>textarea{
	width:100%;
	padding:11px;
	box-sizing: border-box;
}

.comment>form>textarea{
	resize: none;
}

.comment>form>input[type="submit"] {
	margin-top: 11px;
	padding:11px;
	background:#FF5B44;
	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	border: none;
	color:#FFF;
}

.comment>form>input[type="submit"]:hover {
	background: #DF3B24;
	cursor:pointer;
}

.categoriesList{
	list-style: none;
	overflow: hidden;
	padding: 44px 0;
}

.categoriesList>p{
	color:#000;
	font-size: 16px;
	font-weight: 400;
	margin:5px;
}

.categoriesList>li{
	float:left;
}

.categoriesList>li>a{
	text-decoration: none;
	color:#FFF;
	display: block;
	padding:5px 8px;
	background:#7BB296;
	margin:5px;
	border-radius: 2px;
	font-size: 14px;
}

.categoriesList>li>a:hover{
	background:#5B9276;
}


.searchCategories{
	text-align: center;
}

.searchCategories>li{
	float: none;
	display: inline-block;
}

/*Top cards*/
#topListContainer>h1{
	color:#FFF;
	text-shadow: none;
	padding-top: 22px;
	text-align: center;
}

#topList{
	margin: 22px auto;
	text-align: left;
  border-collapse: collapse;
	color: #000;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
	resize:both;
}

#topList>tBody>tr{
	height: 44px;
	background: #FFF;
	width: 100%;
	border: solid 1px #CCC;
}

#topList>tBody>tr>td:first-child,#topList>tBody>tr>th:first-child{
	padding-left: 11px;
	box-sizing: border-box;
}


#topList>tBody>tr>td:last-child,#topList>tBody>tr>th:last-child{
	padding-right: 11px;
	box-sizing: border-box;
}

#topList>tBody>tr>td>a{
	text-decoration: none;
	color:#5B9276;
	font-weight: 600;
}

#topList>tBody>tr>td>a:hover{
	text-decoration: none;
	color:#7BB296;
	font-weight: 600;
}

#topList>tBody>tr:nth-child(2n+2){
	background: #EEE;
}

/*Top cards END*/
/*Search page*/
#searchPage{
	max-width: none;
}

#searchPage>ul{
	max-width: 960px;
	 margin: 66px auto 0 auto;
	 list-style: none;
}

#searchPage>ul>li{
	margin-bottom:44px;
}

#searchPage>ul>li.userSearch{
	border-bottom: 1px solid #31313C;
	padding: 22px 11px;
	margin-bottom: 0;
}


#searchPage>ul>li.userSearch:first-child{
	border-top: 1px solid #31313C;
}


.userSearch>a{
	text-decoration: none;
	color:#5B9276;
	font-weight: 600;
}

.userSearch>a:hover{
	color:#7BB296;
}


#searchMenu{
	border-bottom: 2px solid #7BB296;
	padding-top: 22px;
}

#searchMenu>.searchMenuWrapper{
	max-width: 960px;
	margin: auto;
}

.searchMenuWrapper>p{
	color:#FFF;
	padding:11px 22px;
}

.searchMenuWrapper>p,.searchMenuWrapper>input[type=submit]{
	float:left;
	font-size: 14px;
}
.searchMenuWrapper{
	overflow: hidden;
}

#searchMenu>.searchMenuWrapper>input[type=submit]{
	padding:11px 22px;
	background: none;
	border: none;
	outline: none;
	color:#FFF;
	cursor: pointer;
}

#searchMenu>.searchMenuWrapper>input[type=submit]:hover{
	color:#7BB296;
}

#searchMenu>.searchMenuWrapper>input[type=submit].selected{
	border-bottom: 4px solid #7BB296;
}

#searchBarLarge{
	margin-top: 120px;
	padding:11px;
	text-align: center;
}

#searchBarLarge>h2{
	color:#FFF;
	margin-bottom: 11px;
	font-weight: 600;
}

#searchBarLarge>input{
	display: inline-block;
}

#searchBarLarge>input[type=text]{
	/*border:solid 1px #5A5A5C;*/
	border: #1A1A1C 1px solid;
	border-radius: 5px;
	padding:11px 11px;
	margin-right: 5px;
	background:#4A4A4C;
	font-size: 14px;
	line-height: 18px;
	width:200px;
	color:#FFF;
	box-sizing: border-box;
}

#searchBarLarge>input[type=submit]{
	border: #1A1A1C 1px solid;
	border-radius: 5px;
	padding:11px 11px;
	font-size: 14px;
	font-weight: 600;
	outline:none;
	box-sizing: border-box;
}

#searchBarLarge>input:focus{
	background: #404042;
}

#searchPage>ul>li>.textWithLink, #userProfile>ul>li>.textWithLink{
	color:#AAAAAC;
	border: none;
}

#searchPage>ul>li, #userProfile>ul>li{
	padding-bottom: 22px;
}

#userProfile>ul{
	padding:5px;
	max-width: 960px;
	margin: auto;
	list-style: none;
}

main#userProfile>h1{
	text-align: center;
	color:#FFF;
	font-size: 42px;
	font-weight: 600;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	margin:88px 0 44px 0;
}

main#logintoaddcards>h1{
	text-align: center;
	color:#FFF;
	font-size: 42px;
	font-weight: 600;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	margin:88px 0 44px 0;
}

#searchPage>ul>li>form, #userProfile>ul>li>form{
	margin-bottom: 11px;
	-webkit-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.75);
}

#userProfile>.profileError{
	color:#FFF;
	font-size: 32px;
	text-align: center;
	margin-top: 88px;
}

main{
	min-height: 480px;
}

/*FOOTER*/

footer {
	text-align: center;
	padding:66px 0;
	width: 100%;

}

footer>p>a {
	text-decoration: none;
	color:#A1A1A3;
	font-size: 14px;
}

footer>p>a:hover {
	color:#FFF;
}

footer>#copyright{
	margin-top: 44px;
	text-align: right;
	padding-right:66px;
	color:#A1A1A3;
	font-size: 12px;
}


.invisibleForm{
	display: none;
}

/*ColorToggle*/
#colorToggle{
	padding-bottom: 44px;
}

#colorToggle>input{
	padding:11px;
	background:#7BB296;
	border: none;
	color:#FFF;
	cursor: pointer;
	-webkit-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.5);
	box-shadow: 0px 12px 0px -6px rgba(0,0,0,0.5);

}

#colorToggle>input:hover{
	background: #5B9276;
}

@media(min-width:420px){
	#topListContainer{
		padding:0 22px;
		box-sizing: border-box;
		max-width: 960px;
		margin:66px auto;

	}

	#topList{
		width: 100%;
		margin: 22px 0;
	}

	.card-container>li,.card-container>div{
		float:left;
		width:50%;
	}

	.card-container>div>input[type=submit],.card-container>div>div{
		height:300px;
	}

	nav>div>ul>li>a,#toggleBtn>input{
			text-align: center;
	}

	#searchBarLarge>input[type=text]{
		width:340px;
	}

	.card-container>div>div>h3{
		font-size: 62px;
		margin-top: 44px;
	}

	.card-container>div>div>h5{
		margin-top: 11px;
		font-size: 18px
	}

	.card-container>div>div>p{
		font-size: 18px;
	}

}


/*ADD CARDS*/

.addCardsContainer {
	text-align: center;
	padding-top: 20px;
	color: white;
}

.addCardsContainer>form>input[type=text] {
	border: #1A1A1c 1px solid;
	border-radius: 5px;
	padding: 11px 11px;
	margin-right: 5px;
	background: #4A4A4c;
	font-size: 14px;
	line-height: 18px;
	width: 400px;
}

textarea {
	white-space: normal;
	text-align: justify;
	-moz-text-align-last: center; /* Firefox 12+ */
    text-align-last: center;
}

/* CHANGE PLACEHOLDER TEXT COLOUR - for all browsers */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 0.4;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 0.4;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: 0.4;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: 0.4;
  text-align: center;
}

.addCardsContainer>input[type="submit"] {
	margin-top: 11px;
	padding:11px;
	background:#FF5B44;
	-webkit-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	box-shadow: inset 0px 50px 149px 0px rgba(255,255,255,0.05);
	border: none;
	color:#FFF;
}



.addCardsContainer>input[type="submit"]:hover {
	background: #DF3B24;
	cursor:pointer;
}

/*ADD CARDS END*/


@media(min-width:835px){

	#searchBarLarge>input[type=text]{
		width:420px;
	}

	#hamburgerButton{
		display:none;
	}

	nav{
		padding-left:22px;
		padding-right: 22px;
		box-sizing: border-box;
	}

	nav>div>ul{
		width:auto;
		height:auto;
		padding-top: 0;
		position: relative;
		opacity: 100;
		left:0;
		width:auto;
		background: none;
		transition: none;
	}

	nav>div>ul>li{
		float:right;
	}

	nav>div>ul.clicked{
		opacity: 100;
		left:0;
	}

	nav>div>ul::after{
			content:none;
			top:0;
			left:0;
			background: none;
			height:0;
			width:0;
			position: absolute;
	}

	nav>div>ul>li>a,#toggleBtn>input{
			padding:22px 11px;
			line-height: 22px;
			font-size: 12px;
			font-weight: 600;
	}

	#searchBar>input{
		width:250px;
	}

	#searchBar{
		padding:0;
	}

	#searchBar>input{
		margin-right: 22px;
	}

	.home{
		margin-left: 0;
	}

}
